<div class="container" style="width: 100%; overflow-x: auto;" >
  
  <div class="d-flex align-items-end" *ngIf="sessionStorage.getItem('rol')=='administrador/a'">
    <button (click)="crearRecurso()" class="mt-5 btn-anuncio">Crear Recurso Nuevo</button>
  </div>

  <div class="my-5">
    <label for="tipo" style="color: white;font-size: 2.0em;">TIPO DE RECURSO</label>
    <select class="form-select" [(ngModel)]="tipoRecurso" id="tipo" name="tipo">
      <option value="resolucion">Resolucion</option>
      <option value="acta">Acta</option>
      <option value="instructivo">Instructivo</option>
      <option value="acuerdos">Acuerdo de convivencia escolar</option>
    </select>
  </div>

  <table class="table bg-transparent">
    <thead>
      <tr>
        <th style="color: white;font-size: 1.5em;">Nombre del Archivo</th>
        <th style="color: white;font-size: 1.5em;">Tipo</th>
        <th style="color: white;font-size: 1.5em;">Descargar Archivos</th>
        <th style="color: white;font-size: 1.5em;" *ngIf="sessionStorage.getItem('rol')=='administrador/a'">Modificar
        </th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let recurso of Archivos">
        <td style="color: white; font-size: 1.3em;" *ngIf="recurso.tipo == tipoRecurso">
          {{recurso.descripcion}}
        </td>
        <td style="color: white; font-size: 1.3em;" *ngIf="recurso.tipo == tipoRecurso">
          {{recurso.tipo}}
        </td>
        <td style="width: fit-content;" *ngIf="recurso.tipo == tipoRecurso">
          <div *ngFor="let file of recurso.archivos">
            <p style="color: white;font-size: 1.2em;">{{file.name}}</p>
            <button class="button-descargar" (click)="downloadFile(file.base64, file.name)">
              <span class="button__text">Descargar</span>
              <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35"
                  id="bdd05811-e15d-428c-bb53-8661459f9307" data-name="Layer 2" class="svg">
                  <path
                    d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z">
                  </path>
                  <path
                    d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z">
                  </path>
                  <path
                    d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z">
                  </path>
                </svg></span>
            </button>
          </div>
        </td>
        <td *ngIf="recurso.tipo == tipoRecurso">
          <button (click)="modificarRecurso(recurso._id)"
            *ngIf="sessionStorage.getItem('rol')=='administrador/a' " class="btn-anuncio">Modificar</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>