
main{
  padding: 80px;
  background: rgb(176,151,102);
  background: linear-gradient(0deg, rgba(176,151,102,0) 0%, rgba(255,255,255,1) 1%, rgba(111,171,234,0.7553396358543417) 100%);
}

.card-body{
    margin: 40px;
    margin-left: 20%;
}

/* button styling */

.h3 {
--border-right: 6px;
--text-stroke-color: rgba(0, 0, 0, 0.6);
--fs-size: 2em;
letter-spacing: 3px;
text-decoration: none;
font-size: var(--fs-size);
font-family: "Arial";
position: relative;
text-transform: uppercase;
}

/* .cards {
display: flex;
flex-direction: row;
gap: 15px;
}

.cards .form {
background-color: #cca792;
}

.cards .card {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center; */
/* height: 100px;
width: 250px; */
/* border-radius: 10px;
color: rgb(0, 0, 0);
cursor: pointer;
transition: 400ms;
}

.cards .card p.tip {
font-size: 1.5em;
font-weight: 700;
}

.cards .card p.second-text {
font-size: .7em;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
} */



.btn {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   .btn:hover {
    color: black;
   }
   
   .btn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }

   .tit {
    width: min-content;
   }

   
  .button-descargar {
    --main-focus: #2d8cf0;
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #323232;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .button-descargar, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button-descargar .button__text {
    transform: translateX(22px);
    color: var(--font-color);
    font-weight: 600;
  }
  
  .button-descargar .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-descargar .svg {
    width: 20px;
    fill: var(--main-color);
  }
  
  .button-descargar:hover {
    background: var(--bg-color);
  }
  
  .button-descargar:hover .button__text {
    color: transparent;
  }
  
  .button-descargar:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button-descargar:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }

