<main>
  <div class="container box-contenedor" style="font-family: Roboto;">
     
  <div>
    <button class=" btn btn-anuncio m-2" (click)="volver()">volver a la lista</button> 
  </div>
  <form class="row g-3 m-3">


    <div class="col-md-6">
      <label for="tipo" class="form-label" style="color: rgb(0, 0, 0);font-size: 1.8em;">Tipo de Area</label>
      <select id="tipo" name="tipo" class="form-select" [(ngModel)]="area.tipo">
        <option value="grado">Grado/Curso</option>
        <option value="biblioteca">Biblioteca</option>
        <option value="materia_artistica">Materia Artistica</option>
        <option value="administrativo">administrativo</option>
      </select>
    </div>

    <div class="col-md-6">
      <label for="persona" class="form-label" style="color: rgb(0, 0, 0);font-size: 1.8em;">Persona a cargo</label>
      <select id="persona" name="persona" class="form-select" [(ngModel)]="personaSeleccionada"
        (ngModelChange)="agregarResponsable(personaSeleccionada)">
        <option value="" selected disabled>--Seleccionar--</option>
        <option *ngFor="let persona of lista" [ngValue]="persona">{{persona.nombre}}, {{persona.apellido}}
        </option>
      </select>
    </div>


    <div class="col-12" *ngIf="area.tipo != 'grado'">
      <label for="titulo" class="form-label" style="color: rgb(0, 0, 0);font-size: 1.8em;">Titulo</label>
      <input type="text" class="form-control" id="titulo" name="titulo" placeholder="INGRESE EL TITULO DEL AREA"
        [(ngModel)]="area.nombreArea">
    </div>



    <div class="col-md-4" *ngIf="area.tipo == 'grado'">
      <label for="turno" class="form-label" style="color: rgb(0, 0, 0);font-size: 1.8em;">Turno</label>
      <select id="turno" name="turno" class="form-select" [(ngModel)]="area.turno">
        <option value="mañana">Mañana</option>
        <option value="tarde">Tarde</option>
      </select>
    </div>

    <div class="col-md-4" *ngIf="area.tipo == 'grado'">
      <label for="grado" class="form-label" style="color: rgb(0, 0, 0);font-size: 1.8em;">Grado</label>
      <select id="grado" name="grado" class="form-select" [(ngModel)]="area.grado">
        <option value="1">1ro</option>
        <option value="2">2do</option>
        <option value="3">3ro</option>
        <option value="4">4to</option>
        <option value="5">5to</option>
        <option value="6">6to</option>
        <option value="7">7to</option>
      </select>
    </div>

    <div class="col-md-4" *ngIf="area.tipo == 'grado'">
      <label for="division" class="form-label" style="color: rgb(0, 0, 0);font-size: 1.8em;">Division</label>
      <select id="division" name="division" class="form-select" [(ngModel)]="area.division">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
      </select>
    </div>
    
    <h5>lista de personas a cargo</h5>
    <table class="table table-bordered table-striped">
      <thead>
        <tr style="background-color:rgba(211, 167, 85, 0.473);">
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">dni</th>
          <th scope="col">¿Borrar Responsable?</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info" *ngFor="let responsable of responsables">
          <th>{{responsable.nombre}}</th>
          <td>{{responsable.apellido}}</td>
          <td>{{responsable.dni}}</td>
          <td><button class="btn btn-danger" (click)="eliminarResponsable(responsable._id)">Borrar</button></td>
        </tr>
      </tbody>
    </table>

    <div class="col-12">
      <button *ngIf="accion=='new'" class=" btn btn-anuncio m-2" (click)="crearArea(area)">CREAR AREA</button>
      <button *ngIf="accion=='update'" class=" btn btn-anuncio m-2" (click)="modificarArea(area, area._id)">MODIFICAR
        AREA</button>
        <button *ngIf="accion=='update' && area.tipo != 'general'" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          ELIMINAR AREA
        </button>
    </div>

  </form>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #exampleModal>
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content bg-warning">
      <div class="modal-header  ">
        <h1 class="modal-title fs-5" id="exampleModalLabel" >¡PELIGRO!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
          <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
          <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
        </svg>
        <div>Esta a punto de borrar <strong>Definitivamente</strong> esta Area </div>
        <div>Se perdera <strong>toda</strong> la informacion</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="eliminarArea(area._id)">Eliminar Definitivamente</button>
      </div>
    </div>
  </div>
</div>
</main>