<form class="row g-3">
    <div class="col-12">
        <label for="titulo" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="INGRESE EL TITULO DEL AREA">
    </div>
    <div class="col-md-6">
        <label for="persona" class="form-label">Persona a cargo</label>
        <select id="persona" name="persona" class="form-select">
            <option></option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="tipo" class="form-label">State</label>
        <select id="tipo" name="tipo" class="form-select">
            <option>...</option>
        </select>
    </div>
    
    <div class="col-12">
        <button class="btn-anuncio">CREAR AREA</button>
    </div>
</form>