.titulo{
    text-align: center;
    background: linear-gradient(90deg, rgb(204, 226, 125) 0%, rgb(158, 245, 204) 100%);
    font-family: cursive;
    
}

.titulo2{
    text-align: center;
    font-family: cursive;
}

.container-fluid{
    background: linear-gradient(90deg, rgb(87, 174, 177) 0%, rgb(158, 245, 204) 100%);
}


/*** ESTILOS BOTÓN GROW SKEW ***/
.ov-btn-grow-skew {
    background: #fff; /* color de fondo */
    color: #4741d7; /* color de fuente */
    border: 2px solid #4741d7; /* tamaño y color de borde */
    padding: 10px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}
.ov-btn-grow-skew:hover {
    color: #fff;/* color de fuente hover */
}

.ov-btn-grow-skew::after {
    content: "";
    background: #4741d7; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.ov-btn-grow-skew:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}