.titulo{
    text-align: center;
    background-color: rgba(250, 233, 186, 0.575);
    
}

.titulo2{
    text-align: center;
    background-color: rgba(138, 231, 243, 0.575);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}