.form{
    margin: 40px;
    margin-left: 20%;
}

.card-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: blue;
    text-align: center;
}

.card-body{
    margin-top: 30px;
    height: auto;
    font-size: 15px;
    color: rgb(1, 49, 53);
}