<div class="form">
  <form class="card" #personaForm="ngForm" style="max-width: 60rem; margin: 8px;">
    <div class="card-header">
      Registro de Persona
    </div>
    <div class="card-body">
      <div class="row mb-3 align-items-center">

        <div class="mb-3 row">
          <label for="apellido" class="col-sm-2 col-form-label">Apellido: </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido"
              required #apellido="ngModel" />
          </div>

          <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert alert-danger">
            <div *ngIf="apellido.errors?.['required']">
              El campo Apellido es requerido
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="nombre" class="col-sm-2 col-form-label">Nombre: </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required
              #nombre="ngModel" />
          </div>

          <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
            <div *ngIf="nombre.errors?.['required']">
              El campo Nombre es requerido
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="dni" class="col-sm-2 col-form-label">DNI: </label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="dni" name="dni" [(ngModel)]="persona.dni" required
              #dni="ngModel" />
          </div>

          <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="alert alert-danger">
            <div *ngIf="dni.errors?.['required']">
              El campo DNI es requerido
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="direccion" class="col-sm-2 col-form-label">Direccion: </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="persona.direccion"
              required #direccion="ngModel" />
          </div>

          <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="alert alert-danger">
            <div *ngIf="direccion.errors?.['required']">
              El campo direccion es requerido
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="telefono" class="col-sm-2 col-form-label">Telefono/Celular: </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="persona.telefono"
              required #telefono="ngModel" />
          </div>

          <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
            <div *ngIf="telefono.errors?.['required']">
              El campo telefono es requerido
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="email" class="col-sm-2 col-form-label">Gmail: </label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="persona.email" required
              #email="ngModel" />
          </div>

          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors?.['required']">
              El campo gmail es requerido
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="rol" class="col-sm-2 col-form-label">Rol: </label>
          <div class="col-sm-10">
          </div>
          <select class="form-select" id="rol" name="rol" [(ngModel)]="persona.rol" required
          #rol="ngModel">
            <option value="profesor/a">Profesor/a</option>
            <option value="administrador/a">Administrador/a</option>
            <option value="bibliotecario/a">Bibliotecario/a</option>
          </select>

          <div *ngIf="rol.invalid && (rol.dirty || rol.touched)" class="alert alert-danger">
            <div *ngIf="rol.errors?.['required']">
              El campo rol es requerido
            </div>
          </div>
        </div>






      </div>



      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button [disabled]="!personaForm.form.valid" *ngIf="accion=='new'" class="btn btn-outline-primary me-md-2"
          type="button" (click)="guardarPersona(personaForm)"> Guardar Nuevo </button>
        <button [disabled]="!personaForm.form.valid" *ngIf="accion=='update'" class="btn btn-outline-primary me-md-2"
          type="button" (click)="actualizarPersona(personaForm)"> Actualizar </button>
        <button class="btn btn-outline-primary" type="button" (click)="regresar()">Regresar</button>
      </div>


    </div>
  </form>

</div>