<div class="container">
    <div class="row">
        <div class="col-1 col-sm-6 my-5">
            <label for="tipo" style="color: white;font-size: 2.0em;">TIPO DE RECURSO</label>
            <select class="form-select" [(ngModel)]="form.tipo" id="tipo" name="tipo">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-1 col-sm-6 my-5">
            <label for="descripcion" style="color: white;font-size: 2.0em;">INGRESE EL NOMBRE DEL RECURSO</label>
            <input type="text" id="descripcion" name="descripcion" [(ngModel)]="form.descripcion">
        </div>
    </div>
    <div class="mx-3">

        <div class="form-group p-2 custom-file-input" style="width: fit-content; color: white; font-size: larger;">
            <label for="fileInput" class="mr-2" style="color: white;font-size: 1.5em;">Elegir Archivo(s) a
                Subir:</label>
            <div class="custom-file-input">
                <input type="file" id="fileInput" accept=".pdf,.doc,.docx,image/*,video/*" multiple
                    (change)="onFileSelected($event)" name="file" />
                <button type="button" class="button-subir" onclick="document.getElementById('fileInput').click()">
                    <span class="button-subir__text">Subir</span>
                    <span class="button-subir__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2"
                            stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none"
                            class="svg">
                            <line y2="19" y1="5" x2="12" x1="12"></line>
                            <line y2="12" y1="12" x2="19" x1="5"></line>
                        </svg>
                    </span>
                </button>
            </div>
        </div>

        <table class="table bg-transparent">
            <thead>
                <tr>
                    <th style="color: white;font-size: 1.5em;">Nombre del Archivo</th>
                    <th style="color: white;font-size: 1.5em;">¿Eliminar Archivo Seleccionado?</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let file of files">
                    <td style="color: white; font-size: 1.3em;">
                        {{file.name}}
                    </td>
                    <td style="width: fit-content;">


                        <button class="button-borrar mx-3" (click)="eliminarArchivo(file.id)"><span
                                class="text">Borrar</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" viewBox="0 0 24 24">
                                    <path
                                        d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
                                    </path>
                                </svg></span></button>
                    </td>
                </tr>

            </tbody>
        </table>

        <button *ngIf="accion=='new'" class="m-3 btn btn-warning" (click)="guardarForm(form)">
            CREAR RECURSO
        </button>
        <button *ngIf="accion=='update'" class="m-3 btn-anuncio text-white" (click)="modificarForm(form)">
            MODIFICAR RECURSO
        </button>
        <button *ngIf="accion=='update'" class="m-3 btn-anuncio text-white" (click)="EliminarForm(form)">
            ELIMINAR RECURSO
        </button>


    </div>
</div>