main {
    padding: 40px;
    background: rgb(176, 151, 102);
    background: linear-gradient(0deg, rgba(176, 151, 102, 0) 0%, rgba(255, 255, 255, 1) 1%, rgba(111, 171, 234, 0.7553396358543417) 100%);
}

.box-contenedor {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.349);
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 30px;
}


.btn {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button:hover {
    color: black;
}

button:after {
    content: "";
    background: #6faaea;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.input-group {
    font-weight: bold;
    margin: 0.5em;
    padding: 0 7px;
}

.input-group .user-label {
    width: 10em;
}


.card-header {
    --border-right: 6px;
    --text-stroke-color: rgba(0, 0, 0, 0.6);
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
}

.card-body {
    margin-top: 30px;
    height: auto;
    font-size: 15px;
    color: rgb(1, 49, 53);
}
.alert-danger {
    color: #e52e26;
    margin: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 4px rgb(255, 255, 255);
}

.button-borrar {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   .button-borrar, .button-borrar span {
    transition: 200ms;
   }
   
   .button-borrar .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .button-borrar {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  }
  
  .button-borrar, .button-borrar span {
    transition: 200ms;
  }
  
  .button-borrar .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
  }
  
  .button-borrar .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-borrar svg {
    width: 15px;
    fill: #eee;
  }
  
  .button-borrar:hover {
    background: #ff3636;
  }
  
  .button-borrar:hover .text {
    color: transparent;
  }
  
  .button-borrar:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
  }
  
  .button-borrar:focus {
    outline: none;
  }
  
  .button-borrar:active .icon svg {
    transform: scale(0.8);
  }

  .custom-file-input {
    position: relative;
    display: inline-block;
  }
  
  .custom-file-input input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .button-subir {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
  }
  
  .button-subir,
  .button-subir__icon,
  .button-subir__text {
    transition: all 0.3s;
  }
  
  .button-subir .button-subir__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button-subir .button-subir__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-subir .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button-subir:hover {
    background: #34974d;
  }
  
  .button-subir:hover .button-subir__text {
    color: transparent;
  }
  
  .button-subir:hover .button-subir__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button-subir:active .button-subir__icon {
    background-color: #2e8644;
  }
  
  .button-subir:active {
    border: 1px solid #2e8644;
  }