main {
    padding: 40px;
    background: rgb(176, 151, 102);
    background: linear-gradient(0deg, rgba(176, 151, 102, 0) 0%, rgba(255, 255, 255, 1) 1%, rgba(111, 171, 234, 0.7553396358543417) 100%);
}

.box-contenedor {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 30px;
}


.btn {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button:hover {
    color: black;
}

button:after {
    content: "";
    background: #6faaea;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.input-group {
    font-weight: bold;
    margin: 0.5em;
    padding: 0 7px;
}

.input-group .user-label {
    width: 10em;
}


.card-header {
    --border-right: 6px;
    --text-stroke-color: rgba(0, 0, 0, 0.6);
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
}

.card-body {
    margin-top: 30px;
    height: auto;
    font-size: 15px;
    color: rgb(1, 49, 53);
}

.alert-danger {
    color: #e52e26;
    margin: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 4px rgb(255, 255, 255);
}