<main>
    <div class="box-contenedor">
        <div>
            <button class="btn-anuncio" (click)="crearArea()">Crear Area</button>
        </div>
        <div class="overflow-auto">
            <table class="table">
                <thead >
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Responsables</th>
                        <th>Anuncios/Noticias</th>
                        <th>Info Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let area of listaDeAreas">
                        <th>{{area.nombreArea}}</th>
                        <td>{{area.tipo}} </td>
                        <td>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Responsables
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div *ngFor="let responsable of area.responsables">{{responsable.nombre}},
                                                {{responsable.apellido}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="accordion" id="accordionExample2">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne2" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Anuncios/Noticias
                                        </button>
                                    </h2>
                                    <div id="collapseOne2" class="accordion-collapse collapse show"
                                        data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            <div *ngFor="let anuncio of area.anuncios; index as i">{{i + 1}}:
                                                {{anuncio.titulo}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><button class="btn-anuncio" (click)="modificarArea(area._id)">Modificar</button>
                            <button class="btn-anuncio" (click)="verArea(area._id)" *ngIf="area.tipo != 'general'">Ver Area...</button>
                            <button class="btn-anuncio" (click)="agregarAnuncio(area._id)" *ngIf="area.tipo == 'general'">Agregar
                                Anuncio/Noticia</button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>

    </div>
</main>