<div class="box-contenedor">
    <div>
      <button class="my-5" (click)="crearArea()">Crear Area</button>
    </div>
  
    <div style="width: 100%; overflow-x: auto;">
       <div>
        <table class="table table-responsive">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Responsables</th>
                <th>Anuncios/Noticias</th>
                <th>Info Area</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let area of listaDeAreas; index as i">
                <th *ngIf="area.tipo == 'general'">{{area.nombreArea}}</th>
                <td *ngIf="area.tipo == 'general'">
                  {{area.tipo}}
                </td>
                <td *ngIf="area.tipo == 'general'">
                  <div class="accordion" id="accordion{{i}}">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          [attr.data-bs-target]="'#collapse' + i" aria-expanded="false">
                          Responsables
                        </button>
                      </h2>
                      <div [id]="'collapse' + i" class="accordion-collapse collapse">
                        <div class="accordion-body">
                          <div *ngFor="let responsable of area.responsables">
                            {{responsable.nombre}}, {{responsable.apellido}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td *ngIf="area.tipo == 'general'">
                  <div class="accordion" id="accordionExample2">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          [attr.data-bs-target]="'#collapseOne' + i" aria-expanded="false">
                          Anuncios/Noticias
                        </button>
                      </h2>
                      <div [id]="'collapseOne' + i" class="accordion-collapse collapse">
                        <div class="accordion-body">
                          <div *ngFor="let anuncio of area.anuncios; index as j">{{j + 1}}: {{anuncio.titulo}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td *ngIf="area.tipo == 'general'">
                  <button (click)="modificarArea(area._id)">Modificar</button>
                  <button (click)="verArea(area._id)" *ngIf="area.tipo != 'general'">Ver Area...</button>
                  <button (click)="agregarAnuncio(area._id)" *ngIf="area.tipo == 'general'">Agregar Anuncio/Noticia</button>
                </td>
              </tr>
            </tbody>
          </table>
       </div> 
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Responsables</th>
            <th>Anuncios/Noticias</th>
            <th>Info Area</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let area of listaDeAreas; index as i">
            <th *ngIf="area.tipo != 'general'">{{area.nombreArea}}</th>
            <td *ngIf="area.tipo != 'general'">
              {{area.tipo}}
            </td>
            <td *ngIf="area.tipo != 'general'">
              <div class="accordion" id="accordion{{i}}">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#collapse' + i" aria-expanded="false">
                      Responsables
                    </button>
                  </h2>
                  <div [id]="'collapse' + i" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div *ngFor="let responsable of area.responsables">
                        {{responsable.nombre}}, {{responsable.apellido}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td *ngIf="area.tipo != 'general'">
              <div class="accordion" id="accordionExample2">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#collapseOne' + i" aria-expanded="false">
                      Anuncios/Noticias
                    </button>
                  </h2>
                  <div [id]="'collapseOne' + i" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div *ngFor="let anuncio of area.anuncios; index as j">{{j + 1}}: {{anuncio.titulo}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td *ngIf="area.tipo != 'general'">
              <button (click)="modificarArea(area._id)">Modificar</button>
              <button (click)="verArea(area._id)" *ngIf="area.tipo != 'general'">Ver Area...</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


</div>