
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid p-0">
      <a class="navbar-brand" style="margin-left: 10px;" href="home">
        <img src="./assets/escudo.png" style="width: 65px; height:60px" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-uppercase">
          <li class="nav-item">
            <a class="nav-link" href="home">Inicio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link">Principal</a>
          </li>

          <li class="nav-item">
            <a class="nav-link">Anuncios</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Gestion
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Profesores</a></li>
              <li><a class="dropdown-item" href="#">Alumnos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Rol</a></li>
              <li><a class="dropdown-item" href="#">Areas</a></li>
              <li><a class="dropdown-item" [routerLink]=" ['/recurso']">Recursos</a></li>
              <li><a class="dropdown-item" href="#">Anuncios</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link ">Otros</a>
          </li>

        </ul>
 
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item dropdown" style="margin: 10px;">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="./assets/logo.png" alt="Logo" style="width:30px;" class="rounded-pill">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['creacion-noticias']">Crear Anuncio</a></li>

              <li><a class="dropdown-item" *ngIf="!loginService.userLoggedIn()" [routerLink]="['login']">Login</a></li>
              <li>

                <a class="dropdown-item text-uppercase" *ngIf="loginService.userLoggedIn()" [routerLink]="['login']"
                  (click)="logout()">
                  {{loginService.userLogged()}}
                  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                    <path fill-rule="evenodd"
                      d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                  </svg>
                </a>
              </li>
            </ul>
          </li>
        </ul>

        
      </div>
    </div>
  </nav>
