<main class="centrar">
    <div class="box-calendar">
        <h2>Calendario Escolar</h2>
        <div class="container">
            <div class="row">

                <div class="col-xl-6">
                    <button type="button" class="ov-btn-grow-skew" (click)="login()">01 login</button>
                    <button type="button" class="ov-btn-grow-skew" (click)="token()">02 Token</button>
                    <button type="button" class="ov-btn-grow-skew" (click)="verEventos()">03 Eventos</button>
            
                    <form class="input-container">
                        <div class="text-label">
                            <label for="my-input">Titulo del Evento: </label>
                            <input id="sumary" class="input-field" type="text" [(ngModel)]="event.summary" name="sumary">
            
                            <label for="my-input">Fecha desde: </label>
                            <input id="from" class="input-field" type="datetime-local" [(ngModel)]="fromDate" name="from">
            
                            <label for="my-input">Fecha hasta: </label>
                            <input id="to" class="input-field" type="datetime-local" [(ngModel)]="toDate" name="to">
            
                        </div>
                        
                    </form>
                    <button type="button" class="" (click)="crearEvento()">04 Crear Evento</button>
                </div>
                
                <div class="col-xl-6">
                    <div class="task" draggable="true">
                        <div class="tags">
                            <iframe
                                src="https://calendar.google.com/calendar/embed?src=585a5fe1d81316ad6cc68880b1e88fba1b038e1167a87b830c24b38134d0b050%40group.calendar.google.com&ctz=America%2FArgentina%2FJujuy"
                                frameborder="0" scrolling="no" width="500px" height="300px">
                            </iframe>
                        </div>
                    </div>
                    <button type="button" class="" (click)="logout()">05 logout</button>
                </div>
            </div>
        </div>
        
        
    </div>


</main>