<main class="centrar">
    <div class="box-calendar">
        <div class="container">
            <div class="row">

                <h2 style="text-align: center;">Calendario Escolar</h2>

                <div class="col-xl-6">
                    <button type="button" (click)="login()">01 login</button>
                    <button type="button" (click)="token()">02 Token</button>
                    <button type="button" (click)="verEventos()">03 Eventos</button>

                    <form>
                        <div class="form-group">
                            <label for="my-input">Titulo del Evento: </label>
                            <input id="sumary" class="form-control" type="text" [(ngModel)]="event.summary"
                                name="sumary">

                            <label for="my-input">Fecha desde: </label>
                            <input id="from" class="form-control" type="datetime-local" [(ngModel)]="fromDate"
                                name="from">

                            <label for="my-input">Fecha hasta: </label>
                            <input id="to" class="form-control" type="datetime-local" [(ngModel)]="toDate" name="to">

                        </div>
                        <button type="button" class="ov-btn-grow-skew" (click)="crearEvento()">04 Crear Evento</button>
                    </form>
                </div>

                <div class="col-xl-6">

                    <div class="task" draggable="true">
                        <div class="tags">
                            <iframe
                                src="https://calendar.google.com/calendar/embed?src=585a5fe1d81316ad6cc68880b1e88fba1b038e1167a87b830c24b38134d0b050%40group.calendar.google.com&ctz=America%2FArgentina%2FJujuy"
                                width="500px" height="340px" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>
                    <button type="button" (click)="logout()">05 logout</button>
                </div>
            </div>
        </div>
    </div>
</main>