<div class="container-fluid">
    <button type="button" class="ov-btn-grow-skew" (click)="login()">01 login</button>
    <button type="button" class="ov-btn-grow-skew" (click)="token()">02 Token</button>
    <button type="button" class="ov-btn-grow-skew" (click)="verEventos()">03 Eventos</button>
    
    <form class="border border-1 m-3">
        <div class="form-group">
            <label for="my-input">Titulo del Evento: </label>
            <input id="sumary" class="form-control" type="text"
            [(ngModel)]="event.summary" name="sumary">
    
            <label for="my-input">Fecha desde: </label>
            <input id="from" class="form-control" type="datetime-local"
            [(ngModel)]="fromDate" name="from">
    
            <label for="my-input">Fecha hasta: </label>
            <input id="to" class="form-control" type="datetime-local"
            [(ngModel)]="toDate" name="to">
    
        </div>
        <button type="button" class="ov-btn-grow-skew" (click)="crearEvento()">04 Crear Evento</button>
    </form>
    
        <button type="button" class="ov-btn-grow-skew" (click)="logout()">05 logout</button>
        <iframe src="https://calendar.google.com/calendar/embed?src=585a5fe1d81316ad6cc68880b1e88fba1b038e1167a87b830c24b38134d0b050%40group.calendar.google.com&ctz=America%2FArgentina%2FJujuy" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    
</div>


</main>