<main>
  <div class="box-contenedor" style="font-family: Roboto;">
<h1 class="titulo">Creacion de Anuncio</h1>
    <div class="d-flex justify-content-end m-3">
      <input class="check" type="checkbox" id="checkbox_toggle" (click)="edicionYvista()">
      <div class="checkbox-vista-edicion">
        <label for="checkbox_toggle" class="slide">
          <label for="checkbox_toggle" class="toggle"></label>
          <label for="checkbox_toggle" class="text">Edicion</label>
          <label for="checkbox_toggle" class="text">Vista</label>
        </label>
      </div>
    </div>
  
    <div *ngIf="edicion_vista == 'edicion'">
  
      <div class="  row">
        <div class="col-3"></div>
        <div class="col-sm-6 text-center">
          <label for="titulo" style="color: white; font-size: 40px;">TITULO DEL ANUNCIO</label>
          <input type="text" class="form-control input-noticia" id="titulo" name="titulo"
            [(ngModel)]="Anuncio.titulo" placeholder="INGRESE EL TITULO DEL ANUNCIO/NOTICIA"
            style="color: rgb(0, 0, 0); height: 80px; border-width: 2px; font-size: 20px;" autocomplete="off"><br>
        </div>
        <div class="col-3"></div>
      </div>
  
      <div class="row">
        <div class="col-2"></div>
        <div class="col-sm-8 text-center">
          <label for="descripcionCard" style="color: white; font-size: 30px;">BREVE DESCRIPCION DE LA
            NOTICIA/ANUNCIO</label>
          <textarea type="text" class="form-control input-noticia" id="descripcionCard"
            name="descripcionCard" [(ngModel)]="Anuncio.descripcionCard"
            placeholder="INGRESE BREVE DESCRIPCION PARA EL ANUNCIO/NOTICIA"
            style="height: 130px; width:100%; color: rgb(0, 0, 0);border-width:2px; font-size: 20px;"></textarea><br>
        </div>
        <div class="col-2"></div>
      </div>
  
      <editor [init]="editorConfig" [(ngModel)]="Anuncio.descripcion"></editor>
  
      <div class="mx-3">
  
        <div class="form-group p-2 custom-file-input" >
          <label for="fileInput" class="mr-2" style="color: white;font-size: 1.5em;">Elegir Archivo(s) a Subir:</label>
          <div class="custom-file-input">
            <input type="file" id="fileInput" accept=".pdf,.doc,.docx,image/*,video/*" multiple
              (change)="onFileSelected($event)" name="file" />
            <button type="button" class="button-subir" onclick="document.getElementById('fileInput').click()">
              <span class="button-subir__text">Subir</span>
              <span class="button-subir__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2"
                  stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none"
                  class="svg">
                  <line y2="19" y1="5" x2="12" x1="12"></line>
                  <line y2="12" y1="12" x2="19" x1="5"></line>
                </svg>
              </span>
            </button>
          </div>
        </div>
  
        <table class="table bg-transparent">
          <thead>
            <tr>
              <th style="color: white;font-size: 1.5em;">Nombre del Archivo</th>
              <th style="color: white;font-size: 1.5em;">¿Eliminar Archivo Seleccionado?</th>
            </tr>
          </thead>
          <tbody>
  
            <tr *ngFor="let file of files">
              <td style="color: white; font-size: 1.3em;">
                {{file.name}}
              </td>
              <td style="width: fit-content;">
          
  
                <button class="button-borrar mx-3" (click)="eliminarArchivo(file.id)"><span
                    class="text">Borrar</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                      height="24" viewBox="0 0 24 24">
                      <path
                        d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
                      </path>
                    </svg></span></button>
              </td>
            </tr>
  
          </tbody>
        </table>
  
      </div>
      <div>
        <button *ngIf="accion=='new'" class="m-3 btn btn-warning" (click)="crearAnuncio(Anuncio)">
          CREAR ANUNCIO/NOTICIA
        </button>
        <button *ngIf="accion=='update'" class="m-3 btn-anuncio text-white"
          (click)="modificarAnuncio(idArea, Anuncio._id, Anuncio)">
          MODIFICAR ANUNCIO/NOTICIA
        </button>
        <button *ngIf="accion=='update'" class="m-3 btn-anuncio text-white"
          (click)="eliminarAnuncio(idArea, Anuncio._id)">
          ELIMINAR ANUNCIO/NOTICIA
        </button>
      </div>
  
    </div>
  
  
    <div *ngIf="edicion_vista == 'vista'">
      <h1 style="text-align: center; color: white; font-size: 2.5em;" class="mt-5">{{Anuncio.titulo}}</h1>
      <div [innerHTML]="sanitizeHtml(Anuncio.descripcion)" style="background-color: white;min-height: 500px;"
        class=" p-4 my-5 rounded-4">
      </div>
      <table class="table bg-transparent">
        <thead>
          <tr>
            <th style="color: white;font-size: 1.5em;">Nombre del Archivo</th>
            <th style="color: white;font-size: 1.5em;">Descargar Archivo</th>
          </tr>
        </thead>
        <tbody>
  
          <tr *ngFor="let file of files">
            <td style="color: white; font-size: 1.3em;">
              {{file.name}}
            </td>
            <td style="width: fit-content;">
              <button class="button-descargar" (click)="downloadFile(file.base64, file.name)">
                <span class="button__text">Descargar</span>
                <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35"
                    id="bdd05811-e15d-428c-bb53-8661459f9307" data-name="Layer 2" class="svg">
                    <path
                      d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z">
                    </path>
                    <path
                      d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z">
                    </path>
                    <path
                      d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z">
                    </path>
                  </svg></span>
              </button>
            </td>
          </tr>
  
        </tbody>
      </table>
  
    </div>
  
  </div>
</main>