main{
  /*background: linear-gradient(to top, #fffaf7 0%, #ace0f9 100%);*/
  height: auto !important;
  padding: 40px;
}
.box-contenedor{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  flex-direction: column;

    background-color: #17425f54;
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    border-radius: 50px;
    padding: 60px;
}

.titulo{
  text-align: center;
  font-family: Roboto;
  
}

/* CLASES PARA EL ESTILO DE LOS INPUTS COMO EL DEL TITULO */

.input-noticia {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.input-noticia::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input-noticia:focus {
  border: 2px solid var(--input-focus);
}


/* CLASE PARA EL BOTON DE DESCARGAR EN LA PARTE DE VISTA */


  .button-descargar {
    --main-focus: #2d8cf0;
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #323232;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .button-descargar, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button-descargar .button__text {
    transform: translateX(22px);
    color: var(--font-color);
    font-weight: 600;
  }
  
  .button-descargar .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-descargar .svg {
    width: 20px;
    fill: var(--main-color);
  }
  
  .button-descargar:hover {
    background: var(--bg-color);
  }
  
  .button-descargar:hover .button__text {
    color: transparent;
  }
  
  .button-descargar:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button-descargar:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }



  /* CLASE PARA EL BOTON DE BORRAR ARCHIVO DE LA LISTA DE ARCHIVOS QUE SERAN GUARDADOS */

  .button-borrar {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   .button-borrar, .button-borrar span {
    transition: 200ms;
   }
   
   .button-borrar .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .button-borrar {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  }
  
  .button-borrar, .button-borrar span {
    transition: 200ms;
  }
  
  .button-borrar .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
  }
  
  .button-borrar .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-borrar svg {
    width: 15px;
    fill: #eee;
  }
  
  .button-borrar:hover {
    background: #ff3636;
  }
  
  .button-borrar:hover .text {
    color: transparent;
  }
  
  .button-borrar:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
  }
  
  .button-borrar:focus {
    outline: none;
  }
  
  .button-borrar:active .icon svg {
    transform: scale(0.8);
  }
  



  /* CLASES PARA CUSTOMIZAR EL BOTON QUE VIENE POR DEFECTO PARA SUBIR ARCHIVOS */

  .custom-file-input {
    position: relative;
    display: inline-block;
  }
  
  .custom-file-input input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .button-subir {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
  }
  
  .button-subir,
  .button-subir__icon,
  .button-subir__text {
    transition: all 0.3s;
  }
  
  .button-subir .button-subir__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button-subir .button-subir__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-subir .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button-subir:hover {
    background: #34974d;
  }
  
  .button-subir:hover .button-subir__text {
    color: transparent;
  }
  
  .button-subir:hover .button-subir__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button-subir:active .button-subir__icon {
    background-color: #2e8644;
  }
  
  .button-subir:active {
    border: 1px solid #2e8644;
  }
  

  
  /* CLASE PARA LA CHECKBOX DE EDICION-VISTA */

  .checkbox-vista-edicion {
    width: 223px;
    height: 60px;
    background-color: #d0d0d0;
    border-radius: 30px;
    position: relative;
    color: black;
    overflow: hidden;
  }
  
  #checkbox_toggle {
    display: none;
  }
  
  .checkbox-vista-edicion .toggle {
    width: 100px;
    height: 50px;
    position: absolute;
    border-radius: 30px;
    left: 5px;
    cursor: pointer;
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    transition: 0.4s;
  }
  
  .checkbox-vista-edicion .slide {
    width: 230px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }
  
  .checkbox-vista-edicion .slide .text {
    font-size: 16px;
    font-weight: 700;
    z-index: 100;
    cursor: pointer;
  }
  
  .check:checked + .checkbox-vista-edicion .slide .toggle {
    transform: translateX(113px);
    background: linear-gradient(to top, #535353 0%, #ace0f9 100%);
  }
  
  .check:checked + .checkbox-vista-edicion .slide {
    background-color: #0a1929;
    color: #fff;
  }
  
  
  
  
