<div class="container background-areas" style="display: flex; flex-direction: column; min-height: 800px;">

  <div class="d-flex justify-content-end m-3">
    <button class="btn-anuncio">VISTA</button>
  </div>
  <label for="titulo">TITULO DEL ANUNCIO</label>
  <input type="text" class="form-control input-anuncio" id="titulo" name="titulo" [(ngModel)]="Anuncio.titulo"
    placeholder="INGRESE EL TITULO DEL ANUNCIO/NOTICIA" style="width: fit-content;"><br>

  <label for="descripcionCard">BREVE DESCRIPCION DE LA NOTICIA/ANUNCIO</label>
  <textarea type="text" class="form-control input-anuncio" id="descripcionCard" name="descripcionCard"
    [(ngModel)]="Anuncio.descripcionCard" placeholder="INGRESE BREVE DESCRIPCION PARA EL ANUNCIO/NOTICIA"
    style="height: 200px; width: 400px;"></textarea><br>

  <editor [init]="editorConfig" [(ngModel)]="Anuncio.descripcion"></editor>
  <br>

  <div class="mx-5" >
    <div class="form-group p-2" style="background-color: rgb(54, 51, 51); width: fit-content; color: white; border-top-left-radius: 30%; border-top-right-radius:30% ;">
      <label for="fileInput" class="mr-2">Elegir Archivo(s):</label>
      <input type="file" id="fileInput" accept=".pdf,.doc,.docx,image/*,video/*" multiple class="form-control-file"
        (change)="onFileSelected($event)" name="file" />
    </div>
    <table class="table table-striped table-dark" >
      <thead>
        <tr>
          <th>Nombre del Archivo</th>
          <th>Descargar</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let file of files">
          <td>
            {{file.name}}
          </td>
          <td style="width: fit-content;">
            <button class="btn-descarga mx-3" (click)="downloadFile(file.base64, file.name)">Descargar</button>
            <button class="btn-borrar mx-3" (click)="eliminarArchivo(file.id)">Borrar</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div>
    <button *ngIf="accion=='new'" class="m-3 btn btn-warning" (click)="crearAnuncio(Anuncio)">
      CREAR ANUNCIO/NOTICIA
    </button>
    <button *ngIf="accion=='update'" class="m-3 btn-anuncio text-white" (click)="modificarAnuncio(idArea, Anuncio._id, Anuncio)">
      MODIFICAR ANUNCIO/NOTICIA
    </button>
    <button *ngIf="accion=='update'" class="m-3 btn-anuncio text-white" (click)="eliminarAnuncio(idArea, Anuncio._id)">
      ELIMINAR ANUNCIO/NOTICIA
    </button>
  </div>

  <br><br><br>
  <h1 style="text-align: center;" class="mt-5">LO QUE SE MOSTRARIA EN PANTALLA SERIA:</h1>
  <div [innerHTML]="sanitizeHtml(Anuncio.descripcion)" style="background-color: white;" class="mx-5 mb-5 p-5 rounded-4">
  </div>
</div>